<button id="manage-library-button" type="button" style="margin: 5px" class="btn btn-default">
    <span class="glyphicon glyphicon-music" /> Manage library
</button>

<div class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">x</span>
            <h2>Manage library</h2>
            <form role="form">
                <div class="form-group">
                    <input id="query" type="search" class="form-control" placeholder="Search..." />
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
        <div class="modal-body">
            <div id="manage-title-list" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-button">Close</button>
        </div>
    </div>
</div>

<style>
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 3;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    /* Modal Content/Box */
    
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }
    /* The Close Button */
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .modal-header {
        padding: 2px 16px;
        color: black;
    }
    
    .modal-body {
        padding: 2px 16px;
    }
    
    .modal-footer {
        padding: 2px 16px;
        color: black;
    }
</style>