<h4 class="list-group-item-heading"><%= title %></h4>
<p class="list-group-item-text">id: <%= titleId %>
isStream: <%= isStream %>
uri: <%= uri %>
provider: <%= provider %></p>
<button type="button" class="btn btn-default btn-sm" style="position: absolute; right: 0px; top: 0; bottom: 0; width: 50px" type="button">
    <span style="font-size: 2em" class="glyphicon glyphicon-remove-sign" />
</button>