<div class="playback-control pull-left" style="height: 100%">
    <button id="stop-playback-button" type="button" class="btn btn-default btn-lg" style="height: 100%">
        <span style="font-size: 1.5em" class="glyphicon glyphicon-stop" />
    </button>
</div>
<div style="position: absolute; left: 62px; right: 150px; height: 50px" class="nowPlaying-view" />
<div style="position: absolute; right: 0; top: 0; height: 50px; width: 150px" class="volume-control" />